.gallery {
  @include clearfix;

  .gallery-item {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;

    .gallery-caption {
      display: none;
    }

    img {
      @include border-radius($radius-large);
      @include transition(all 250ms ease);
      padding: 5px;
      background-color: $light;
    }

    &:hover {
      img {
        @include transition(all 250ms ease);
        background-color: $light-invert;
      }
    }
  }

  &.gallery-columns-1 {
    text-align: left;

    .gallery-item {
      text-align: left;
      display: block;
      @include clearfix;
      margin-bottom: 16px;

      .gallery-icon {
        float: left;
        margin-right: 16px;
      }

      .gallery-caption {
        text-align: left;
        display: inherit;
      }
    }
  }

  &.gallery-columns-2 {
    text-align: left;

    .gallery-item {
      width: 48%;
      margin-right: 4%;

      &:nth-child(2n) {
        margin-right: 0;
      }

      float: left;
      text-align: left;
      display: block;
      margin-bottom: 16px;
      @include clearfix;
    }
  }

  &.gallery-columns-3 {
    text-align: left;

    .gallery-item {
      width: 30.66%;
      margin-right: 4%;

      &:nth-child(3n) {
        margin-right: 0;
      }

      float: left;
      text-align: left;
      display: block;
      margin-bottom: 16px;
      @include clearfix;
    }
  }

  &.gallery-columns-4 {
    text-align: left;

    .gallery-item {
      width: 22%;
      margin-right: 4%;

      &:nth-child(4n) {
        margin-right: 0;
      }

      float: left;
      text-align: left;
      display: block;
      margin-bottom: 16px;
      @include clearfix;
    }
  }

  &.gallery-columns-5 {
    text-align: left;

    .gallery-item {
      width: 16.8%;
      margin-right: 4%;

      &:nth-child(5n) {
        margin-right: 0;
      }

      float: left;
      text-align: left;
      display: block;
      margin-bottom: 16px;
      @include clearfix;
    }
  }

  &.gallery-columns-6 {
    text-align: left;

    .gallery-item {
      width: 13.33%;
      margin-right: 4%;

      &:nth-child(6n) {
        margin-right: 0;
      }

      float: left;
      text-align: left;
      display: block;
      margin-bottom: 16px;
      @include clearfix;
    }
  }

  &.gallery-columns-7 {
    text-align: left;

    .gallery-item {
      width: 12.28%;
      margin-right: 2%;

      &:nth-child(7n) {
        margin-right: 0;
      }

      float: left;
      text-align: left;
      display: block;
      margin-bottom: 16px;
      @include clearfix;
    }
  }

  &.gallery-columns-8 {
    text-align: left;

    .gallery-item {
      width: 10.5%;
      margin-right: 2%;

      &:nth-child(8n) {
        margin-right: 0;
      }

      float: left;
      text-align: left;
      display: block;
      margin-bottom: 16px;
      @include clearfix;
    }
  }

  &.gallery-columns-9 {
    text-align: left;

    .gallery-item {
      width: 9.1%;
      margin-right: 2%;

      &:nth-child(9n) {
        margin-right: 0;
      }

      float: left;
      text-align: left;
      display: block;
      margin-bottom: 16px;
      @include clearfix;
    }
  }

  &.gallery-columns-10 {
    text-align: left;

    .gallery-item {
      width: 8%;
      margin-right: 2%;

      &:nth-child(10n) {
        margin-right: 0;
      }

      float: left;
      text-align: left;
      display: block;
      margin-bottom: 16px;
      @include clearfix;
    }
  }


}