.post-pagination {
  ul {
    margin: 0;
    padding: 0;
    font-size: 0;

    li {
      margin: 0;
      padding: 0;
      font-size: $body-size;
      display: inline-block;

      a, span {
        padding: 15px 10px;
        line-height: 0;
        display: inline-block;
        @include border-radius($radius);

        &.current {
          background-color: $primary;
          color: $primary-invert;
        }
      }
    }
  }
}

.post-navigation {
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  padding: 20px 0;
  margin-bottom: $gap;

  .cj-column {
    position: relative;
  }

  span.cj-icon.prev {
    float: left;
    margin-top: 1px;
  }

  span.cj-icon.next {
    float: right;
    margin-top: 1px;
  }

  a[rel="prev"] {
    display: block;
    padding-left: 20px;
  }
  a[rel="next"] {
    display: block;
    padding-right: 20px;
  }


}