.cj-cursor-alias {
  cursor: alias !important
}

.cj-cursor-all-scroll {
  cursor: all-scroll !important
}

.cj-cursor-auto {
  cursor: auto !important
}

.cj-cursor-cell {
  cursor: cell !important
}

.cj-cursor-context-menu {
  cursor: context-menu !important
}

.cj-cursor-col-resize {
  cursor: col-resize !important
}

.cj-cursor-copy {
  cursor: copy !important
}

.cj-cursor-crosshair {
  cursor: crosshair !important
}

.cj-cursor-default {
  cursor: default !important
}

.cj-cursor-e-resize {
  cursor: e-resize !important
}

.cj-cursor-ew-resize {
  cursor: ew-resize !important
}

.cj-cursor-grab {
  cursor: grab !important
}

.cj-cursor-grabbing {
  cursor: grabbing !important
}

.cj-cursor-help {
  cursor: help !important
}

.cj-cursor-move {
  cursor: move !important
}

.cj-cursor-n-resize {
  cursor: n-resize !important
}

.cj-cursor-ne-resize {
  cursor: ne-resize !important
}

.cj-cursor-nesw-resize {
  cursor: nesw-resize !important
}

.cj-cursor-ns-resize {
  cursor: ns-resize !important
}

.cj-cursor-nw-resize {
  cursor: nw-resize !important
}

.cj-cursor-nwse-resize {
  cursor: nwse-resize !important
}

.cj-cursor-no-drop {
  cursor: no-drop !important
}

.cj-cursor-none {
  cursor: none !important
}

.cj-cursor-not-allowed {
  cursor: not-allowed !important
}

.cj-cursor-pointer {
  cursor: pointer !important
}

.cj-cursor-progress {
  cursor: progress !important
}

.cj-cursor-row-resize {
  cursor: row-resize !important
}

.cj-cursor-s-resize {
  cursor: s-resize !important
}

.cj-cursor-se-resize {
  cursor: se-resize !important
}

.cj-cursor-sw-resize {
  cursor: sw-resize !important
}

.cj-cursor-text {
  cursor: text !important
}

.cj-cursor-vertical-text {
  cursor: vertical-text !important
}

.cj-cursor-w-resize {
  cursor: w-resize !important
}

.cj-cursor-wait {
  cursor: wait !important
}

.cj-cursor-zoom-in {
  cursor: zoom-in !important
}

.cj-cursor-zoom-out {
  cursor: zoom-out !important
}

.cj-cursor-initial {
  cursor: initial !important
}

.cj-cursor-inherit {
  cursor: inherit !important
}