.cj-relative {
  position: relative;
}
.cj-fixed-tl {
  position: fixed;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
}
.cj-fixed-tr {
  position: fixed;
  top: 0;
  left: auto;
  bottom: auto;
  right: 0;
}
.cj-fixed-bl {
  position: fixed;
  top: auto;
  left: 0;
  bottom: 0;
  right: auto;
}
.cj-fixed-br {
  position: fixed;
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}
.cj-absolute-tl {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
}
.cj-absolute-tr {
  position: absolute;
  top: 0;
  left: auto;
  bottom: auto;
  right: 0;
}
.cj-absolute-bl {
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  right: auto;
}
.cj-absolute-br {
  position: absolute;
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}
.cj-v-align {
  @include vertical-align();
}
.cj-v-align-left {
  @include vertical-align('left');
}
.cj-v-align-right {
  @include vertical-align('right');
}
.cj-zx-0 {
  z-index: 0;
}
.cj-zx-1 {
  z-index: 1;
}
.cj-zx-2 {
  z-index: 2;
}
.cj-zx-3 {
  z-index: 3;
}
.cj-zx-4 {
  z-index: 4;
}
.cj-zx-5 {
  z-index: 5;
}
.cj-zx-6 {
  z-index: 6;
}
.cj-zx-7 {
  z-index: 7;
}
.cj-zx-8 {
  z-index: 8;
}
.cj-zx-9 {
  z-index: 9;
}
.cj-zx-10 {
  z-index: 10;
}
.cj-zx-100 {
  z-index: 100;
}
.cj-zx-200 {
  z-index: 200;
}
.cj-zx-300 {
  z-index: 300;
}
.cj-zx-400 {
  z-index: 400;
}
.cj-zx-500 {
  z-index: 500;
}
.cj-zx-600 {
  z-index: 600;
}
.cj-zx-700 {
  z-index: 700;
}
.cj-zx-800 {
  z-index: 800;
}
.cj-zx-900 {
  z-index: 900;
}
.cj-zx-1000 {
  z-index: 1000;
}
.cj-zx-2000 {
  z-index: 2000;
}
.cj-zx-3000 {
  z-index: 3000;
}
.cj-zx-4000 {
  z-index: 4000;
}
.cj-zx-5000 {
  z-index: 5000;
}
.cj-zx-6000 {
  z-index: 6000;
}
.cj-zx-7000 {
  z-index: 7000;
}
.cj-zx-8000 {
  z-index: 8000;
}
.cj-zx-9000 {
  z-index: 9000;
}
.cj-zx-10000 {
  z-index: 10000;
}
.cj-zx-100000 {
  z-index: 100000;
}

@include respondto('xl'){
  .cj-relative-xl {
    position: relative;
  }
  .cj-fixed-tl-xl {
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }
  .cj-fixed-tr-xl {
    position: fixed;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
  }
  .cj-fixed-bl-xl {
    position: fixed;
    top: auto;
    left: 0;
    bottom: 0;
    right: auto;
  }
  .cj-fixed-br-xl {
    position: fixed;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
  }
  .cj-absolute-tl-xl {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }
  .cj-absolute-tr-xl {
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
  }
  .cj-absolute-bl-xl {
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    right: auto;
  }
  .cj-absolute-br-xl {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
  }
  .cj-v-align-xl {
    @include vertical-align();
  }
  .cj-v-align-left-xl {
    @include vertical-align('left');
  }
  .cj-v-align-right-xl {
    @include vertical-align('right');
  }
  .cj-zx-0-xl {
    z-index: 0;
  }
  .cj-zx-1-xl {
    z-index: 1;
  }
  .cj-zx-2-xl {
    z-index: 2;
  }
  .cj-zx-3-xl {
    z-index: 3;
  }
  .cj-zx-4-xl {
    z-index: 4;
  }
  .cj-zx-5-xl {
    z-index: 5;
  }
  .cj-zx-6-xl {
    z-index: 6;
  }
  .cj-zx-7-xl {
    z-index: 7;
  }
  .cj-zx-8-xl {
    z-index: 8;
  }
  .cj-zx-9-xl {
    z-index: 9;
  }
  .cj-zx-10-xl {
    z-index: 10;
  }
  .cj-zx-100-xl {
    z-index: 100;
  }
  .cj-zx-200-xl {
    z-index: 200;
  }
  .cj-zx-300-xl {
    z-index: 300;
  }
  .cj-zx-400-xl {
    z-index: 400;
  }
  .cj-zx-500-xl {
    z-index: 500;
  }
  .cj-zx-600-xl {
    z-index: 600;
  }
  .cj-zx-700-xl {
    z-index: 700;
  }
  .cj-zx-800-xl {
    z-index: 800;
  }
  .cj-zx-900-xl {
    z-index: 900;
  }
  .cj-zx-1000-xl {
    z-index: 1000;
  }
  .cj-zx-2000-xl {
    z-index: 2000;
  }
  .cj-zx-3000-xl {
    z-index: 3000;
  }
  .cj-zx-4000-xl {
    z-index: 4000;
  }
  .cj-zx-5000-xl {
    z-index: 5000;
  }
  .cj-zx-6000-xl {
    z-index: 6000;
  }
  .cj-zx-7000-xl {
    z-index: 7000;
  }
  .cj-zx-8000-xl {
    z-index: 8000;
  }
  .cj-zx-9000-xl {
    z-index: 9000;
  }
  .cj-zx-10000-xl {
    z-index: 10000;
  }
  .cj-zx-100000-xl {
    z-index: 100000;
  }
}

@include respondto('lg'){
  .cj-relative-lg {
    position: relative;
  }
  .cj-fixed-tl-lg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }
  .cj-fixed-tr-lg {
    position: fixed;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
  }
  .cj-fixed-bl-lg {
    position: fixed;
    top: auto;
    left: 0;
    bottom: 0;
    right: auto;
  }
  .cj-fixed-br-lg {
    position: fixed;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
  }
  .cj-absolute-tl-lg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }
  .cj-absolute-tr-lg {
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
  }
  .cj-absolute-bl-lg {
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    right: auto;
  }
  .cj-absolute-br-lg {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
  }
  .cj-v-align-lg {
    @include vertical-align();
  }
  .cj-v-align-left-lg {
    @include vertical-align('left');
  }
  .cj-v-align-right-lg {
    @include vertical-align('right');
  }
  .cj-zx-0-lg {
    z-index: 0;
  }
  .cj-zx-1-lg {
    z-index: 1;
  }
  .cj-zx-2-lg {
    z-index: 2;
  }
  .cj-zx-3-lg {
    z-index: 3;
  }
  .cj-zx-4-lg {
    z-index: 4;
  }
  .cj-zx-5-lg {
    z-index: 5;
  }
  .cj-zx-6-lg {
    z-index: 6;
  }
  .cj-zx-7-lg {
    z-index: 7;
  }
  .cj-zx-8-lg {
    z-index: 8;
  }
  .cj-zx-9-lg {
    z-index: 9;
  }
  .cj-zx-10-lg {
    z-index: 10;
  }
  .cj-zx-100-lg {
    z-index: 100;
  }
  .cj-zx-200-lg {
    z-index: 200;
  }
  .cj-zx-300-lg {
    z-index: 300;
  }
  .cj-zx-400-lg {
    z-index: 400;
  }
  .cj-zx-500-lg {
    z-index: 500;
  }
  .cj-zx-600-lg {
    z-index: 600;
  }
  .cj-zx-700-lg {
    z-index: 700;
  }
  .cj-zx-800-lg {
    z-index: 800;
  }
  .cj-zx-900-lg {
    z-index: 900;
  }
  .cj-zx-1000-lg {
    z-index: 1000;
  }
  .cj-zx-2000-lg {
    z-index: 2000;
  }
  .cj-zx-3000-lg {
    z-index: 3000;
  }
  .cj-zx-4000-lg {
    z-index: 4000;
  }
  .cj-zx-5000-lg {
    z-index: 5000;
  }
  .cj-zx-6000-lg {
    z-index: 6000;
  }
  .cj-zx-7000-lg {
    z-index: 7000;
  }
  .cj-zx-8000-lg {
    z-index: 8000;
  }
  .cj-zx-9000-lg {
    z-index: 9000;
  }
  .cj-zx-10000-lg {
    z-index: 10000;
  }
  .cj-zx-100000-lg {
    z-index: 100000;
  }
}

@include respondto('md'){
  .cj-relative-md {
    position: relative;
  }
  .cj-fixed-tl-md {
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }
  .cj-fixed-tr-md {
    position: fixed;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
  }
  .cj-fixed-bl-md {
    position: fixed;
    top: auto;
    left: 0;
    bottom: 0;
    right: auto;
  }
  .cj-fixed-br-md {
    position: fixed;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
  }
  .cj-absolute-tl-md {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }
  .cj-absolute-tr-md {
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
  }
  .cj-absolute-bl-md {
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    right: auto;
  }
  .cj-absolute-br-md {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
  }
  .cj-v-align-md {
    @include vertical-align();
  }
  .cj-v-align-left-md {
    @include vertical-align('left');
  }
  .cj-v-align-right-md {
    @include vertical-align('right');
  }
  .cj-zx-0-md {
    z-index: 0;
  }
  .cj-zx-1-md {
    z-index: 1;
  }
  .cj-zx-2-md {
    z-index: 2;
  }
  .cj-zx-3-md {
    z-index: 3;
  }
  .cj-zx-4-md {
    z-index: 4;
  }
  .cj-zx-5-md {
    z-index: 5;
  }
  .cj-zx-6-md {
    z-index: 6;
  }
  .cj-zx-7-md {
    z-index: 7;
  }
  .cj-zx-8-md {
    z-index: 8;
  }
  .cj-zx-9-md {
    z-index: 9;
  }
  .cj-zx-10-md {
    z-index: 10;
  }
  .cj-zx-100-md {
    z-index: 100;
  }
  .cj-zx-200-md {
    z-index: 200;
  }
  .cj-zx-300-md {
    z-index: 300;
  }
  .cj-zx-400-md {
    z-index: 400;
  }
  .cj-zx-500-md {
    z-index: 500;
  }
  .cj-zx-600-md {
    z-index: 600;
  }
  .cj-zx-700-md {
    z-index: 700;
  }
  .cj-zx-800-md {
    z-index: 800;
  }
  .cj-zx-900-md {
    z-index: 900;
  }
  .cj-zx-1000-md {
    z-index: 1000;
  }
  .cj-zx-2000-md {
    z-index: 2000;
  }
  .cj-zx-3000-md {
    z-index: 3000;
  }
  .cj-zx-4000-md {
    z-index: 4000;
  }
  .cj-zx-5000-md {
    z-index: 5000;
  }
  .cj-zx-6000-md {
    z-index: 6000;
  }
  .cj-zx-7000-md {
    z-index: 7000;
  }
  .cj-zx-8000-md {
    z-index: 8000;
  }
  .cj-zx-9000-md {
    z-index: 9000;
  }
  .cj-zx-10000-md {
    z-index: 10000;
  }
  .cj-zx-100000-md {
    z-index: 100000;
  }
}

@include respondto('sm'){
  .cj-relative-sm {
    position: relative;
  }
  .cj-fixed-tl-sm {
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }
  .cj-fixed-tr-sm {
    position: fixed;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
  }
  .cj-fixed-bl-sm {
    position: fixed;
    top: auto;
    left: 0;
    bottom: 0;
    right: auto;
  }
  .cj-fixed-br-sm {
    position: fixed;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
  }
  .cj-absolute-tl-sm {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }
  .cj-absolute-tr-sm {
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
  }
  .cj-absolute-bl-sm {
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    right: auto;
  }
  .cj-absolute-br-sm {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
  }
  .cj-v-align-sm {
    @include vertical-align();
  }
  .cj-v-align-left-sm {
    @include vertical-align('left');
  }
  .cj-v-align-right-sm {
    @include vertical-align('right');
  }
  .cj-zx-0-sm {
    z-index: 0;
  }
  .cj-zx-1-sm {
    z-index: 1;
  }
  .cj-zx-2-sm {
    z-index: 2;
  }
  .cj-zx-3-sm {
    z-index: 3;
  }
  .cj-zx-4-sm {
    z-index: 4;
  }
  .cj-zx-5-sm {
    z-index: 5;
  }
  .cj-zx-6-sm {
    z-index: 6;
  }
  .cj-zx-7-sm {
    z-index: 7;
  }
  .cj-zx-8-sm {
    z-index: 8;
  }
  .cj-zx-9-sm {
    z-index: 9;
  }
  .cj-zx-10-sm {
    z-index: 10;
  }
  .cj-zx-100-sm {
    z-index: 100;
  }
  .cj-zx-200-sm {
    z-index: 200;
  }
  .cj-zx-300-sm {
    z-index: 300;
  }
  .cj-zx-400-sm {
    z-index: 400;
  }
  .cj-zx-500-sm {
    z-index: 500;
  }
  .cj-zx-600-sm {
    z-index: 600;
  }
  .cj-zx-700-sm {
    z-index: 700;
  }
  .cj-zx-800-sm {
    z-index: 800;
  }
  .cj-zx-900-sm {
    z-index: 900;
  }
  .cj-zx-1000-sm {
    z-index: 1000;
  }
  .cj-zx-2000-sm {
    z-index: 2000;
  }
  .cj-zx-3000-sm {
    z-index: 3000;
  }
  .cj-zx-4000-sm {
    z-index: 4000;
  }
  .cj-zx-5000-sm {
    z-index: 5000;
  }
  .cj-zx-6000-sm {
    z-index: 6000;
  }
  .cj-zx-7000-sm {
    z-index: 7000;
  }
  .cj-zx-8000-sm {
    z-index: 8000;
  }
  .cj-zx-9000-sm {
    z-index: 9000;
  }
  .cj-zx-10000-sm {
    z-index: 10000;
  }
  .cj-zx-100000-sm {
    z-index: 100000;
  }
}

@include respondto('xs'){
  .cj-relative-xs {
    position: relative;
  }
  .cj-fixed-tl-xs {
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }
  .cj-fixed-tr-xs {
    position: fixed;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
  }
  .cj-fixed-bl-xs {
    position: fixed;
    top: auto;
    left: 0;
    bottom: 0;
    right: auto;
  }
  .cj-fixed-br-xs {
    position: fixed;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
  }
  .cj-absolute-tl-xs {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }
  .cj-absolute-tr-xs {
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
  }
  .cj-absolute-bl-xs {
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    right: auto;
  }
  .cj-absolute-br-xs {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
  }
  .cj-v-align-xs {
    @include vertical-align();
  }
  .cj-v-align-left-xs {
    @include vertical-align('left');
  }
  .cj-v-align-right-xs {
    @include vertical-align('right');
  }
  .cj-zx-0-xs {
    z-index: 0;
  }
  .cj-zx-1-xs {
    z-index: 1;
  }
  .cj-zx-2-xs {
    z-index: 2;
  }
  .cj-zx-3-xs {
    z-index: 3;
  }
  .cj-zx-4-xs {
    z-index: 4;
  }
  .cj-zx-5-xs {
    z-index: 5;
  }
  .cj-zx-6-xs {
    z-index: 6;
  }
  .cj-zx-7-xs {
    z-index: 7;
  }
  .cj-zx-8-xs {
    z-index: 8;
  }
  .cj-zx-9-xs {
    z-index: 9;
  }
  .cj-zx-10-xs {
    z-index: 10;
  }
  .cj-zx-100-xs {
    z-index: 100;
  }
  .cj-zx-200-xs {
    z-index: 200;
  }
  .cj-zx-300-xs {
    z-index: 300;
  }
  .cj-zx-400-xs {
    z-index: 400;
  }
  .cj-zx-500-xs {
    z-index: 500;
  }
  .cj-zx-600-xs {
    z-index: 600;
  }
  .cj-zx-700-xs {
    z-index: 700;
  }
  .cj-zx-800-xs {
    z-index: 800;
  }
  .cj-zx-900-xs {
    z-index: 900;
  }
  .cj-zx-1000-xs {
    z-index: 1000;
  }
  .cj-zx-2000-xs {
    z-index: 2000;
  }
  .cj-zx-3000-xs {
    z-index: 3000;
  }
  .cj-zx-4000-xs {
    z-index: 4000;
  }
  .cj-zx-5000-xs {
    z-index: 5000;
  }
  .cj-zx-6000-xs {
    z-index: 6000;
  }
  .cj-zx-7000-xs {
    z-index: 7000;
  }
  .cj-zx-8000-xs {
    z-index: 8000;
  }
  .cj-zx-9000-xs {
    z-index: 9000;
  }
  .cj-zx-10000-xs {
    z-index: 10000;
  }
  .cj-zx-100000-xs {
    z-index: 100000;
  }
}