$primary: #886AA1 !default;
$primary-invert: #ffffff !default;
$success: #28A745 !default;
$success-invert: #ffffff !default;
$warning: #FFC009 !default;
$warning-invert: #ffffff !default;
$info: #00a6ff !default;
$info-invert: #ffffff !default;
$danger: #DD3545 !default;
$danger-invert: #ffffff !default;
$dark: #333333 !default;
$dark-invert: #ffffff !default;
$light: #F1EDF4 !default;
$light-invert: #333333 !default;
$black: #000000 !default;
$black-invert: #ffffff !default;
$white: #ffffff !default;
$white-invert: #333333 !default;