$cjwpbldr-primary: #0074cc !default;
$cjwpbldr-primary-invert: #ffffff !default;
$cjwpbldr-success: #5cb85c !default;
$cjwpbldr-success-invert: #ffffff !default;
$cjwpbldr-danger: #d9534f !default;
$cjwpbldr-danger-invert: #ffffff !default;
$cjwpbldr-warning: #f0ad4e !default;
$cjwpbldr-warning-invert: #ffffff !default;
$cjwpbldr-info: #5bc0de !default;
$cjwpbldr-info-invert: #ffffff !default;
$cjwpbldr-dark: #222222 !default;
$cjwpbldr-dark-invert: #ffffff !default;
$cjwpbldr-light: #efefef !default;
$cjwpbldr-light-invert: #222222 !default;

$cjwpbldr-black: #000000 !default;
$cjwpbldr-black-invert: #ffffff !default;
$cjwpbldr-white: #ffffff !default;
$cjwpbldr-white-invert: #222222 !default;


$cjwpbldr-border: #dddddd !default;
