$steps-maker-default-color: $grey-light !default;
$steps-marker-default-border: 0.2em solid #fff !default;
$steps-default-color: $grey-lighter !default;
$steps-completed-color: $primary !default;
$steps-active-color: $primary !default;
$steps-divider-height: 0.2em !default;