$badge-border-size: 1px !default;
$badge-padding: 0.1rem 0.25rem !default;
$badge-border-radius: 1rem !default;
$badge-size-small: 0.75rem !default;
$badge-size-normal: 1rem !default;
$badge-size-medium: 1.2rem !default;
$badge-size-large: 1.4rem !default;
$badge-z-index: 99 !default;