$accordion-background-color: $background !default;
$accordion-radius: $radius !default;
$accordion-header-background-color: $text !default;
$accordion-header-color: $text-invert !default;
$accordion-header-padding: 0.5em 0.75em !default;
$accordion-header-radius: $radius !default;
$accordion-content-border: 1px solid $border !default;
$accordion-content-color: $text !default;
$accordion-content-padding-top: 1em !default;
$accordion-content-padding-left: 1.25em !default;
$accordion-content-radius: $radius !default;
$accordion-content-pre-background-color: $white !default;
$accordion-content-pre-code-background-color: transparent !default;