$pricing-plan-colors: $colors !default;
$pricing-plan-border: 0.1rem solid $white-ter !default;
$pricing-plan-border-radius: $radius !default;
$pricing-plan-active-shadow: 0 8px 12px 0 rgba($grey, 0.2) !default;
$pricing-plan-active-transform: scale(1.05) !default;
$pricing-header-background: $white !default;
$pricing-item-background: $white-ter !default;
$pricing-item-border: 0.1rem solid $white !default;
$pricing-item-color: $grey !default;
$pricing-price-background: white !default;