$calendar-border: 0.1rem solid $white-ter !default;
$calendar-border-radius: $radius-small !default;
$calendar-selection-background-color: $primary !default;
$calendar-days-background-color: transparent !default;
$calendar-selection-days-color: $grey-light !default;
$calendar-date-color: $text !default;
$calendar-date-hover-background-color: $white !default;
$calendar-date-hover-border: 0.1rem solid $primary !default;
$calendar-date-hover-border: $primary !default;
$calendar-today-background: transparent !default;
$calendar-today-border: 0.1rem dotted $primary !default;
$calendar-today-color: $primary !default;
$calendar-range-background-color: $primary !default;
$calendar-body-padding: 0 !default;
$calendar-selection-padding: 0.3rem 0 !default;
$calendar-selection-nav-padding: 0.5em !default;
$calendar-date-padding: 0.1rem 0 !default;